<link rel="stylesheet" href="/style/accord.css">
<h1>FAQs</h1>
<div class="zxqwe">
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>How do I download Facebook photos/videos?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        To download Facebook photos or videos, simply copy the URL of the desired post and paste it into the input field on our website. Then click the "Download" button, and the photo/video will be downloaded to your device.
      </div>
    </div>
  </div>
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Are there any limitations on the file types or sizes that can be downloaded?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Our service supports downloading photos, videos, and Facebook Reels. There are no specific file size limitations, but larger files may take longer to download depending on your internet speed.
      </div>
    </div>
  </div>
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Is it legal to use your service?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Yes, our service is completely legal. We do not store any downloaded content on our servers. We simply provide a tool for users to download content they have access to from Facebook for personal use.
      </div>
    </div>
  </div>
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Do I need to create an account or install any software?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        No, our service is entirely web-based. You do not need to create an account or install any software to use our Facebook downloader. Simply visit our website and enter the desired Facebook URL.
      </div>
    </div>
  </div>
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Is your service free to use?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Yes, our Facebook downloader service is completely free to use. There are no hidden fees or subscriptions required.
      </div>
    </div>
  </div>
</div>

<script>
    // Toggle answer container on question click
const qwertyus = document.querySelectorAll('.qwertyu');

qwertyus.forEach((qwertyu) => {
  qwertyu.addEventListener('click', () => {
    const azsxdcfv = qwertyu.parentElement;
    azsxdcfv.classList.toggle('active');
  });
});
</script>