<link rel="stylesheet" href="/style/accord.css">
<h1>FAQs</h1>
<div class="zxqwe">
  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>How do I download TikTok videos?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        To download TikTok videos, simply copy the URL of the desired video and paste it into the input field on our website. Then click the "Download" button, and the video will be downloaded to your device.
      </div>
    </div>
  </div>

  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Can I download videos with sound or just the video file?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Our service allows you to download TikTok videos with or without sound. You can choose the desired option before initiating the download.
      </div>
    </div>
  </div>

  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Is it legal to use your service?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Yes, our service is completely legal. We do not store any downloaded content on our servers. We simply provide a tool for users to download content they have access to from TikTok for personal use.
      </div>
    </div>
  </div>

  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Do I need to create an account or install any software?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        No, our service is entirely web-based. You do not need to create an account or install any software to use our TikTok downloader. Simply visit our website and enter the desired TikTok URL.
      </div>
    </div>
  </div>

  <div class="azsxdcfv">
    <div class="qwertyu">
      <span class="iopasdfg">&#8853;</span>
      <h3>Is your service free to use?</h3>
    </div>
    <div class="hjklzxcv">
      <div class="bnmqwert">
        Yes, our TikTok downloader service is completely free to use. There are no hidden fees or subscriptions required.
      </div>
    </div>
  </div>
</div>

<script>
    // Toggle answer container on question click
const qwertyus = document.querySelectorAll('.qwertyu');

qwertyus.forEach((qwertyu) => {
  qwertyu.addEventListener('click', () => {
    const azsxdcfv = qwertyu.parentElement;
    azsxdcfv.classList.toggle('active');
  });
});
</script>