


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
 
}


.headline-one
{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  color: white;

}
.headline
{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
}

.home
{
  background-image: radial-gradient(circle, #371026, #2d1228, #231328, #1a1426, #131322, #0e1421, #0b151f, #0a161d, #09191f, #091c20, #0a1e20, #0c2120);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  backdrop-filter: blur(50px); /* Note: backdrop-filter is not supported in IE and Safari */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


}

.container {
    width: 300px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;
    background: white;
    pointer-events: none;
  }
  
  .image img {
      width: 100%; /* Set the width of the image to 100% of the div's width */
      height: auto; /* Maintain aspect ratio, automatically adjusting the height */
      display: block; /* Ensure the image is displayed as a block element */
  }
  
  .palette {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    pointer-events: auto;
  }
  
  .palette:hover > #color-code {
    opacity: 0;
  }
  
  .color {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    box-sizing: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .color span {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  #color1 {
    background: #4B0082;
    rotate: 45deg;
    translate: 212.13px 0;
    outline: 0 solid #4B0082;
    z-index: 9;
  }
  
  #color1:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #4B0082;
  }
  
  #color2 {
    background: #8A2BE2;
    rotate: 45deg;
    translate: 0 212.13px;
    outline: 0 solid #8A2BE2;
    z-index: 9;
  }
  
  #color2:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #8A2BE2;
  }
  
  #color2 span {
    color: #1A1A1A;
  }
  
  #color3 {
    background: #9932CC;
    rotate: 45deg;
    translate: -212.13px 0;
    outline: 0 solid #9932CC;
    z-index: 9;
  }
  
  #color3:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #9932CC;
  }
  
  #color4 {
    background: #BA55D3;
    rotate: 45deg;
    translate: 0 -212.13px;
    outline: 0 solid #BA55D3;
    z-index: 9;
  }
  
  #color4:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #BA55D3;
  }
  
  #color-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    translate: 130px 130px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 199;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  
  #color-code-bg {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(10px);
  }
  
  #color-code-text {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #color-code-text::after {
    content: "v2";
    font-weight: 600;
    font-family: sans-serif;
    color: #1a1a1a;
  }
  
  #footer {
    height: 12%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    box-sizing: border-box;
    color: #bebebe;
  }
  
  #footer svg {
    scale: 0.75;
  }
  
  #footer #bookmarks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .input {
    min-height: 50px;
    width: 500px;
    padding: 0 1rem;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }

  @media screen and (max-width: 768px) {
    .input {
      width: 100%;
    }
    
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  

  /*nav */


  .container-fluid
  {
    padding-left: 100px;
  }

  .logo-get
  {
    background: linear-gradient(to right, blue, rgb(165, 3, 30), rgb(180, 180, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #logo
  {
    text-decoration: none;
  }

  


  /* button */

  .botao {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 125px;
    height: 45px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
    padding: 5px 10px;
    background: rgb(47,93,197);
    background: linear-gradient(160deg, rgba(47,93,197,1) 0%, rgba(46,86,194,1) 5%, rgba(47,93,197,1) 11%, rgba(59,190,230,1) 57%, rgba(0,212,255,1) 71%);
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 505;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
    transition: .5s linear;
  }
  
  .botao .mysvg {
    display: none;
  }
  
  .botao:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s linear;
  }
  
  .botao:hover .texto {
    display: none;
  }
  
  .botao:hover .mysvg {
    display: inline;
  }
  
  .botao:hover::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3.5px solid transparent;
    border-top: 3.5px solid #fff;
    border-right: 3.5px solid #fff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* loading */

  .loading-bar {
    display: none;
    margin-bottom: 50px;
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .loading-bar:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 5px solid #fff000;
    border-right: 5px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
  
    100% {
      transform: rotate(405deg);
    }
  }
  

  /* cards */


  .cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #f43f5e;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  
  .cards .card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card1 p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card1 p.second-text {
    font-size: .7em;
  }
  
  .cards .card1:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card1:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }


  /* title button */


  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }

  @media screen and (max-width: 600px) {
    .button {
      padding: .5rem .5rem;
      font-size: small;
    }
    
  }

  @media screen and (max-width: 700px) {
    .button {
      padding: .5rem .5rem;
      font-size: small;
    }

    @media screen and (max-width: 500px) {
      .button {
        padding: .5rem .5rem;
        font-size: xx-small;
      }
      
    }
    
  }


  /****/

  
  .insta {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    max-width: 330px;
    width: 100%;
  }
  
  .insta-header {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  
  .profile-picture {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: 8px;
  }
  
  .username {
    font-weight: 600;
    font-size: 14px;
  }
  
  .insta-image img {
    width: 100%;
    height: auto;
  }
  
  .insta-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  
  .action-icons i {
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .save-icon i {
    font-size: 20px;
    cursor: pointer;
  }


  .video-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 50%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
 
  }
  /* Hide default video controls */
  .video-container video::-webkit-media-controls {
    display: none !important;
  }
  
  video
  {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
  }

  @media screen and (max-width: 600px) {
    video
    {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      object-fit: cover;
    }
    
  }