.upload-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	width: 500px;
	border-radius: 25px;

  }
  
  .drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;

  }
  
  .drop-zone__content {
	text-align: center;
	color: #999;
	display: flex;
	flex-direction: column;
  }
  
  .drop-zone__icon {
	font-size: 48px;
	color: #007bff;
	margin-bottom: 10px;
  }
  
  .drop-zone__prompt {
	font-size: 16px;
  }
  
  .drop-zone__browse {
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
  }
  
  .drop-zone__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
  }
  
  .preview-container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  
  .preview-list {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
	flex-grow: 1;
  }
  
  .preview-item {
	width: 100px;
	height: 100px;
	margin: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .preview-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .preview-item .remove-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
  }
  
  .upload-btn {
	margin-left: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
  }
  
  .upload-btn:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  

  @media (min-width: 577px) and (min-width: 768px) and (min-width: 992px) and (min-width: 1600px) and (min-width: 1800px) and (max-width: 1800px) {
	.footer2{
	  position: absolute;
	  bottom: 0;
	}
  }

  





 body
  {
	background-image: radial-gradient(circle, #371026, #2d1228, #231328, #1a1426, #131322, #0e1421, #0b151f, #0a161d, #09191f, #091c20, #0a1e20, #0c2120);
  
  }

  @media (max-width: 576px),
	(max-width: 767px),
	(max-width: 991px),
	(max-width: 1199px) {

	

	.upload-container {
		max-width: 500px;
		width: 300px;
		margin: 0 auto;
		padding: 20px;
		background-color: #f5f5f5;
		border-radius: 5px;
		font-family: 'Montserrat', sans-serif;
		border-radius: 25px;
	
	  }
  }




  .headline-one
  {
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	color: white;
  
  }
  .headline
  {
	
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
  }
  