{{>nav}}
<link rel="stylesheet" href="/style/about.css">
<section class="about-us">
  <div class="about">
    <div class="text">
      <h1>Contact Us</h1>
      <p>If you have any questions, suggestions or need assistance with our online tools, please feel free to contact us
        using the information below. We'll be happy to help!</p>
      <h5>Email</h5>
      <p>The best way to reach us is via email at:</p>
      <p><a href="mailto:contact.ilovenet@gmail.com">contact.ilovenet@gmail.com</a></p>
      <p>We strive to respond to all inquiries within 1-2 business days.</p>
      <p>For technical support with our tools, frequently asked questions, or information about our policies, please
        check our <a href="/faq">FAQ</a> first.</p>
    </div>
  </div>
</section>

{{>footer}}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>