{{>nav}}

<link rel="stylesheet" href="/style/about.css">
<section class="about-us">
    <div class="about">
        <div class="text">
            <div>
               <h1>Frequently Asked Questions</h1> <h5>What is iluvnet.com?</h5> <p>iluvnet.com is a website that provides various online tools including downloaders from different social media platforms, PDF conversion tools, and image scanning tools.</p> <h5>How do I use the tools on the website?</h5> <p>Each tool on iluvnet.com has simple instructions and an upload area to get started. Just follow the prompts for the specific tool you want to use.</p> <h5>Is it free to use iluvnet.com?</h5> <p>Yes, all the tools on iluvnet.com are free to use. However, some tools may have premium paid options with additional features.</p> <h5>What file types are supported?</h5> <p>The supported file types vary by tool, but generally iluvnet.com supports common formats like PDF, JPEG, PNG, MP4, and more for uploading or downloading files.</p> <h5>Is it safe to use iluvnet.com?</h5> <p>Yes, we take safety and security very seriously. All data uploaded to iluvnet.com is handled securely and deleted from our servers after processing. We also have robust encryption to protect your information.</p> <h5>Do I need to create an account?</h5> <p>No, you do not need to create an account to use the tools on iluvnet.com. They are available for anyone to use.</p> <h5>Are there any file size limits?</h5> <p>Yes, there are file size limits that vary by tool. These limits are listed on the tool pages to prevent abuse.</p> <h5>How can I contact customer support?</h5> <p>You can contact us at contact.iluvnet@gmail.com if you have any other questions or need assistance.</p> <h5>Where can I see the terms of service?</h5> <p>You can view our full <a href="/terms-of-service">Terms of Service here</a>.</p>
            </div>
        </div>
    </div>
    </div>
</section>

{{>footer}}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>