 
 <script>

  function onSubmit(token) {
    
    document.getElementById("button--submit-btn").click();

  }

 </script>
 


<main>
  <div class="home">
    <div class="headline-one">
  <h1>Instagram Video , Reels and Post Downloader</h1>
  <p>Getreels supports all types of Instagram videos links</p>
</div>



    <div class="input-group">
      <input type="text" class="input" id="url" name="url" placeholder="Paste Instagram Link here" autocomplete="off">
    <button class="g-recaptcha button--submit"
    id="button--submit-btn"
    data-sitekey="6LdEzJUpAAAAAJwKxMZLJkUXTCvLSJRxPOpwHe9z"
    data-callback='onSubmit'
    data-action='submit'>
  Download
</button>
    </div>
    <div class="loading-bar">Loading</div>
    <div class="container">
      <div class="palette">
        <div class="image">
          <img id="insta-image"
            src="https://play-lh.googleusercontent.com/sn_2xT5NCjg-Km4XiZMAOM6xb4LxDqC_9sd5TENCjbU9D4aXVNrendOmIzHFyQo_kahz"
            alt="">
        </div>
      </div>
      <div id="footer">
        <div id="bookmarks">
          <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none"
            viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </svg>
          <span>53421</span>
        </div>
        <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none"
          viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
          <circle r="1" cy="12" cx="12"></circle>
          <circle r="1" cy="12" cx="19"></circle>
          <circle r="1" cy="12" cx="5"></circle>
        </svg>
      </div>
    </div>
  </div>

</main>

<div class="headline">
  <h1>All features of Getreels</h1>
  <p>Getreels supports all types of Instagram videos links also hve tools to convert Image to PDF</p>
</div>

<section>
  <div class="cards">
    <div id="jpg-pdf" class="card1 red">
        <p class="tip">PDF Converter Tools</p>
        <p class="second-text">Covert Image to PDF for free</p>
    </div>
</div>


<script>
  const jpg = document.getElementById('jpg-pdf');
  jpg.addEventListener('click', () => {
    window.location.href = '/tools';
  })

</script>
</section>


<article>
  <div class="cards-content">
    <section class="card">
      <div class="text-content">
        <h3>Instagram video downloader</h3>
        <p>getreels was created to allow you to Instagram Video Download your own content. Getreels supports
          downloading videos for some videos and many videos from Insta.</p>
        <a href="#">Download now</a>
      </div>
      <div class="visual">
        <img src="/images/banner-hand.jpg" alt="a man scrolling instagram" />
      </div>
    </section>

    <section class="card">
      <div class="text-content">
        <h3>Download Instagram Reels</h3>
        <p>
          Instagram Reels Downloader by Getreelswill help you download Reels videos from Instagram posts to your
          device in the easiest way when Instagram does not support you in this.</p>
        <a href="#">Download now</a>
      </div>
      <div class="visual">
        <img src="/images/banner-purple.jpg" alt="a man inside instagram page" />
      </div>
    </section>

    <section class="card">
      <div class="text-content">
        <h3>Download anything from the instagram</h3>
        <p>Instagram Reels Downloader by getreels is a tool designed to facilitate the downloading of Reels videos from
          Instagram posts directly onto your device. This becomes particularly useful when Instagram itself does not
          offer a built-in feature for downloading Reels. Essentially, it acts as a bridge to overcome this limitation..
        </p>
        <a href="#">Download now</a>
      </div>
      <div class="visual">
        <img src="/images/banner-girl.jpg" alt="a girl holding instagram logo" />
      </div>
    </section>
  </div>
</article>

