{{>nav}}
<link rel="stylesheet" href="/style/imagetopdf.css">
<link rel="stylesheet" href="/style/loading.css">
<main>
  <div class="home">


    <div class="headline-one">
      <h1>Scan Your Image to PDF</h1>
      <p>Scan and Convert Your Images to PDF for Free</p>

              <p style="text-align: center;">Advertisement</p>

                <div id="lazy-script2" style="display: flex; justify-content: center; margin-top: 20px margin-bottom: 20px">
                    <script type="text/javascript">
                        atOptions = {
                            'key': 'bd32f3227cd0a420e51115c9c3f3f12a',
                            'format': 'iframe',
                            'height': 250,
                            'width': 300,
                            'params': {}
                        };
                    </script>
                    <script defer type="text/javascript"
                        src="//www.topcreativeformat.com/bd32f3227cd0a420e51115c9c3f3f12a/invoke.js"></script>
                </div>

    </div>


  <form id="form" >
<div class="upload-container">
      <div class="drop-zone">
        <div class="drop-zone__content">
          <span class="drop-zone__icon">
            <i class="fas fa-cloud-upload-alt"></i>
          </span>
          <span class="drop-zone__prompt">Drop files here or <span class="drop-zone__browse">browse</span></span>
          <input type="file" name="images" id="fileUpload" class="drop-zone__input">
        </div>
      </div>

      <div class="preview-container">
        <div class="preview-list"></div>
        <button class="upload-btn" disabled>Upload</button>
      </div>
    </div>
  </form>
<p style="text-align: center;">Advertisement</p>
                <script async="async" data-cfasync="false"
                    src="//pl23027482.profitablegatecpm.com/4b47eb8d3af7bbcaa573bb48cd6c17f7/invoke.js"></script>
                <div id="container-4b47eb8d3af7bbcaa573bb48cd6c17f7"></div>

    <div class="loading-bar"></div>

  </div>

  <div class="overlay" id="loading">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>

</main>







<script src="/js/camscanner.js"></script>

{{>footer}}


