<link rel="stylesheet" href="/style/imagetopdf.css">
<link rel="stylesheet" href="/style/loading.css">

<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<main>
    <div class="home">
        <div class="headline-one">
            <h1>Image to PDF converter</h1>
            <p>Convert Your Images to PDF for Free</p>
        </div>


        <form id="form-images" class="form-container"  enctype='multipart/form-data'>
            <div class="upload-files-container">
                <div class="drag-file-area">
                    <span class="material-icons-outlined upload-icon"> file_upload </span>
                    <h3 class="dynamic-message"> Drag & drop any file here </h3>
                    <label class="label"> or <span class="browse-files">  
                        <input type="file" class="default-file-input"   name="images"/> 
                    <span class="browse-files-text">browse file</span>
                            <span>from device</span> </span> </label>
                            
                </div>
                <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a
                    file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
                <div class="file-block">
                    <div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span
                            class="file-name"> </span> | <span class="file-size"> </span> </div>
                    <span class="material-icons remove-file-icon">delete</span>
                    <div class="progress-bar"> </div>
                </div>
                 <input hidden type="file" class="hiden-file-input"   name="images"/> 
                <button type="submit"  class="upload-button"> Upload </button>

            </div>

        </form>

        <div class="loading-bar">Loading</div>
    </div>

    <div class="overlay" id="loading">
    <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
    </div>
</div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/imagetoPdf.js"></script>