{{>nav}}
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero__content">
      <div class="hero__text">
        <h1 class="hero__title">ILuvnet.com <br> Where The Web Works For You</h1>
        <p class="hero__description">
          iluvnet.com offers a suite of powerful and user-friendly online tools to simplify your digital life. From social media downloaders to PDF converters and image scanners, we've got you covered.
        </p>
        <a href="#tools" class="btn btn__hero">Explore Our Tools</a>
      </div>
      <div class="hero__img">
        <img src="https://res.cloudinary.com/dvenrjxhh/image/upload/v1711710510/jqsynoygsdmyxg6hkcve.webp" alt="Hero Image">
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <!-- ... -->

  <!-- Features Section -->
  <section class="features" id="features">
    <div class="features__content">
      <div class="features__head">
        <h2 class="features__title">Powerful Online Tools at Your Fingertips</h2>
        <p class="features__description">Discover a wide range of tools to streamline your digital tasks and boost your productivity.</p>
      </div>
      <div class="features__body">
        <div class="feature">
             <svg class="feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
          <h4 class="feature__title">Social Media Downloaders</h4>
          <p class="feature__description">Easily download videos, photos, and other content from popular platforms like Instagram, Facebook, and more.</p>
          <a href="/downloader">
           <button class="btn btn-danger ">Explore</button>
          </a>
         
        </div>
        <div class="feature active">
            <svg class="feature__icon"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"/></svg>
          
          <h4 class="feature__title">PDF Conversion Tools</h4>
          <p class="feature__description">Convert PDF files to other formats like Word, Excel, PowerPoint, and vice versa with our powerful yet simple conversion tools.</p>
          <a href="/tools">
           <button class="btn btn-danger ">Explore</button>
          </a>
        </div>
        <div class="feature">
          <svg class="feature__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M128 64c0-35.3 28.7-64 64-64H352V128c0 17.7 14.3 32 32 32H512V448c0 35.3-28.7 64-64 64H192c-35.3 0-64-28.7-64-64V336H302.1l-39 39c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l39 39H128V64zm0 224v48H24c-13.3 0-24-10.7-24-24s10.7-24 24-24H128zM512 128H384V0L512 128z"/></svg>
          <h4 class="feature__title">Image Scanning and OCR</h4>
          <p class="feature__description">Extract text from images and scanned documents using our advanced Optical Character Recognition (OCR) technology.</p>
          <a href="/tools">
           <button class="btn btn-danger ">Explore</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Tools Section -->
  <section class="tools" id="tools">
    <div class="tools__content">
      <div class="tools__head">
        <h2 class="tools__title">Our Online Tools</h2>
        <p class="tools__description">Explore our comprehensive suite of online tools designed to streamline your digital tasks.</p>
      </div>
      <div class="tools__body">
        <!-- Add tool cards here -->
      </div>
    </div>
  </section>

  <!-- Blogs Section -->
  <section class="invest" id="blogs">
    <div class="invest__content">
      <div class="invest__head">
        <h2 class="invest__title">Explore Our Blogs</h2>
        <p class="invest__description">Discover informative articles, tips, and tutorials on getting the most out of our online tools.</p>
      </div>
      <div class="invest__body">
        <div class="invest__item">
          <div class="invest__item__head">
            <h5 class="invest__item__subtitle">TUTORIALS</h5>
          </div>
          <div class="invest__item__body">
            <h4 class="invest__item__title">Step-by-Step Guides</h4>
            <p class="invest__item__description">Learn how to use our tools with detailed tutorials and step-by-step instructions.</p>
          </div>
          <div class="invest__item__footer">
            <a href="/blog" class="btn btn__invest">Read our Tutorials</a>
          </div>
        </div>
        <div class="invest__item">
          <div class="invest__item__head">
            <h5 class="invest__item__subtitle">TIPS & TRICKS</h5>
          </div>
          <div class="invest__item__body">
            <h4 class="invest__item__title">Productivity Hacks</h4>
            <p class="invest__item__description">Discover tips and tricks to boost your productivity and make the most of our online tools.</p>
          </div>
          <div class="invest__item__footer">
            <a href="/blog" class="btn btn__invest">Read Tips</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
  <section class="testimonials" id="testimonials">
    <div class="testimonials__content">
      <div class="testimonials__head">
        <svg class="testimonials__quote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/></svg>
        
        <h2 class="testimonials__title">What Our Users Are Saying</h2>
      </div>
      <div class="testimonials__body">
        <div class="testimonials__list">
          <div class="testimonial">
            <div class="testimonial__profile">
              <div class="testimonial__img">
                <img src="https://www.emmegi.co.uk/wp-content/uploads/2019/01/User-Icon.jpg" alt="Testimonial">
              </div>
              <div class="testimonial__info">
                <h4 class="testimonial__name">John Doe</h4>
                <h4 class="testimonial__title">Web Developer</h4>
              </div>
            </div>
            <p class="testimonial__description">
              "iluvnet.com's social media downloaders are a game-changer for my work. They save me so much time and effort when I need to download videos or images for my projects."
            </p>
          </div>
          <div class="testimonial">
            <div class="testimonial__profile">
              <div class="testimonial__img">
                <img src="https://www.emmegi.co.uk/wp-content/uploads/2019/01/User-Icon.jpg" alt="Testimonial">
              </div>
              <div class="testimonial__info">
                <h4 class="testimonial__name">Jane Smith</h4>
                <h4 class="testimonial__title">Graphic Designer</h4>
              </div>
            </div>
            <p class="testimonial__description">
              "The PDF conversion tools on iluvnet.com are a lifesaver! They make it so easy to work with PDFs in different formats, which is essential for my design work."
            </p>
          </div>
          <div class="testimonial">
            <div class="testimonial__profile">
              <div class="testimonial__img">
                <img src="https://www.emmegi.co.uk/wp-content/uploads/2019/01/User-Icon.jpg" alt="Testimonial">
              </div>
              <div class="testimonial__info">
                <h4 class="testimonial__name">Michael Johnson</h4>
                <h4 class="testimonial__title">Student</h4>
              </div>
            </div>
            <p class="testimonial__description">
              "As a student, I find iluvnet.com's PDF tools incredibly helpful for Convert to PDF from scanned documents and images. It makes my study life so much easier."
            </p>
          </div>
        </div>
      </div>
      <div class="testimonials__footer">
        <div class="testimonials__directions">
          <button class="btn__testimonials btn__testimonials__prev disable">
            <i class="fa fa-chevron-left"></i>
          </button>
          <button class="btn__testimonials btn__testimonials__next">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact" id="contact">
    <div class="contact__content">
      <div class="contact__head">
        <h2 class="contact__title">Get in Touch</h2>
        <p class="contact__description">Have a question or need assistance? Fill out the form below, and we'll get back to you as soon as possible.</p>
      </div>
      <div class="contact__body">
        <form id="contact-form" method="POST" action="/contact-form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" required></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn__submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

{{>footer}}
<style>




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

}

/* Header and Navigation */
.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 30px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #ff6600;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background-color: #f8f8f8;
  padding: 80px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  flex: 1;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .hero__title {
    font-size: 26px;
  }
  h2
  {
    font-size: 25px;
  }
  
}

.hero__description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e65c00;
}

.btn__hero {
  font-size: 18px;
  font-weight: bold;
}

.hero__img {
  flex: 1;
  text-align: right;
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

/* Features Section */
.features {
  padding: 80px 0;
  background-color: #fff;
}

.features__head {
  text-align: center;
  margin-bottom: 60px;
}

.features__title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.features__description {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.features__body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.feature {
  text-align: center;
  max-width: 300px;
  margin: 20px; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box-shadow property */
  border-radius: 10px; /* Added border-radius property *//* Added margin */
  
  /* Add hover effect */
  transition: transform 0.3s ease; /* Add transition property */
  &:hover {
    transform: translateY(-5px); /* Add hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
  }

}

.feature__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.feature__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.feature__description {
  font-size: 16px;
  color: #666;
}



/* Tools Section */
.tools {
  padding: 80px 0;
  background-color: #f8f8f8;
}

.tools__head {
  text-align: center;
  margin-bottom: 60px;
}

.tools__title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.tools__description {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.tools__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Added justify-content: center; */
  max-width: 1000px; /* Added max-width */
  margin: 0 auto; /* Added margin: 0 auto; */
}

.tool-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 20px; /* Added margin */
  max-width: 300px; /* Added max-width */
  text-align: center;
}

.tool-card__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.tool-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Blogs Section */
.invest {
  padding: 80px 0;
  background-color: #fff;
}

.invest__head {
  text-align: center;
  margin-bottom: 60px;
}

.invest__title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.invest__description {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.invest__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.invest__item {
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 20px; /* Added margin */
  max-width: 400px;
  text-align: center;
}

.invest__item__head {
  margin-bottom: 20px;
}

.invest__item__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #ff6600;
  text-transform: uppercase;
}

.invest__item__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.invest__item__description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn__invest {
  font-size: 16px;
  font-weight: bold;
}

/* Testimonials Section */
.testimonials {
  padding: 80px 0;
  background-color: #f8f8f8;
}

.testimonials__head {
  text-align: center;
  margin-bottom: 60px;
}

.testimonials__quote {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.testimonials__title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.testimonials__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.testimonial {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 20px; /* Added margin */
  max-width: 400px;
  text-align: center;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.testimonial__img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.testimonial__info h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.testimonial__info h4:last-child {
  font-weight: normal;
  color: #666;
}

.testimonial__description {
  font-size: 16px;
  color: #666;
}

.testimonials__footer {
  text-align: center;
  margin-top: 60px;
}

.btn__testimonials {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 24px;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__testimonials:hover {
  background-color: #ff6600;
  color: #fff;
}

.btn__testimonials.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Contact Section */
.contact {
  padding: 80px ;
  background-color: #fff;
}

.contact__head {
  text-align: center;
  margin-bottom: 60px;
}

.contact__title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.contact__description {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.contact__body {
  display: flex;
  justify-content: center;
}

#contact-form {
  max-width: 600px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
}

.btn__submit {
  font-size: 16px;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.footer__logo img {
  max-width: 150px;
}

.footer__links,
.footer__contact,
.footer__social {
  margin: 20px; /* Added margin */
}

.footer__links h4,
.footer__contact h4,
.footer__social h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links ul li {
  margin-bottom: 10px;
}

.footer__links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__links ul li a:hover {
  color: #ff6600;
}

.footer__contact p {
  margin-bottom: 10px;
}

.footer__social ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer__social ul li {
  margin-right: 20px;
}

.footer__social ul li a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer__social ul li a:hover {
  color: #ff6600;
}

.footer__copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .hero__content,
  .features__body,
  .invest__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__img,
  .feature,
  .invest__item {
    margin-top: 40px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .footer__content {
    flex-direction: column;
    text-align: center;
  }

  .footer__links,
  .footer__contact,
  .footer__social {
    margin: 20px 0;
  }
}
</style>

<script>


// Testimonial slider
const testimonials = document.querySelectorAll('.testimonial');
const prevBtn = document.querySelector('.btn__testimonials__prev');
const nextBtn = document.querySelector('.btn__testimonials__next');
let currentTestimonial = 0;

function showTestimonial(n) {
  testimonials.forEach((testimonial, index) => {
    testimonial.style.display = index === n ? 'block' : 'none';
  });
}

prevBtn.addEventListener('click', () => {
  currentTestimonial = (currentTestimonial - 1 + testimonials.length) % testimonials.length;
  showTestimonial(currentTestimonial);
  nextBtn.classList.remove('disable');
  if (currentTestimonial === 0) {
    prevBtn.classList.add('disable');
  }
});

nextBtn.addEventListener('click', () => {
  currentTestimonial = (currentTestimonial + 1) % testimonials.length;
  showTestimonial(currentTestimonial);
  prevBtn.classList.remove('disable');
  if (currentTestimonial === testimonials.length - 1) {
    nextBtn.classList.add('disable');
  }
});

showTestimonial(currentTestimonial);
</script>