{{>nav}}

<link rel="stylesheet" href="/style/about.css">
<section class="about-us">
    <div class="about">
        <div class="text">
            <div>


                <h1>Privacy Policy</h1>

                <p>At iluvnet.com, we take your privacy seriously. This Privacy Policy explains how we collect, use,
                    disclose, and safeguard your personal information when you visit our website and use our online
                    tools. Please read this Privacy Policy carefully.</p>

                <h5>Information We Collect</h5>

                <p>We do not collect any personal information from users accessing our website and tools. We do not
                    require you to create an account or provide any identifiable information to use iluvnet.com.</p>

                <p>However, when you use our online tools to upload, download, convert or process files, we temporarily
                    collect and store the file data and metadata on our servers to complete the requested operation.
                    This file data is automatically deleted from our systems once the processing is complete.</p>

                <h5>Use of Information</h5>

                <p>We use the file data and metadata you provide solely for the purpose of operating the specific online
                    tool you are using on iluvnet.com. We do not use this information for any other purpose.</p>

                <h5>Data Retention</h5>

                <p>We retain the file data and metadata you upload to our online tools only for as long as necessary to
                    complete the requested operation. Once the processing is finished, the file data is permanently
                    deleted from our systems. We do not store or retain your data beyond that temporary period.</p>

                <h5>Data Security</h5>

                <p>We implement industry-standard security measures to protect the data you upload to iluvnet.com from
                    unauthorized access, disclosure, alteration, or destruction. This includes encryption of data in
                    transit and at rest.</p>

                <h5>Third-Party Links</h5>

                <p>Our website may contain links to third-party sites or online services that are not operated by us.
                    This Privacy Policy only applies to iluvnet.com. We are not responsible for the privacy practices of
                    any third-party websites or online services.</p>

                <h5>Children's Privacy</h5>

                <p>iluvnet.com does not knowingly collect personal information from children under the age of 13. If we
                    become aware that a child under 13 has provided personal information to us, we will promptly delete
                    such information from our servers.</p>

                <h5>Changes to this Privacy Policy</h5>

                <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other
                    operational, legal, or regulatory reasons. Any updates will be posted on this page.</p>

                <h5>Contact Us</h5>

                <p>If you have any questions about this Privacy Policy or our data practices, please contact us at
                   contact.iluvnet@gmail.com.</p>

                <p>By using iluvnet.com, you consent to the data practices outlined in this Privacy Policy.</p>

            </div>
        </div>
    </div>
    </div>
</section>

{{>footer}}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>