{{>nav}}
<link rel="stylesheet" href="/style/service.css">
<section class="servicecont">

  <section class="card__servicecont">

    <!--==================== SERVICE CARD ====================-->
    <div class="card__bx card__1">
      <div class="card__data">
        <div class="card__icon">
          <div class="card__icon-bx">
            <i class="fa-solid fa-pen-ruler"></i>
          </div>
        </div>
        <div class="card__content">
          <h3>Design</h3>
          <p>We provide high quality design, for your website</p>
          <a href="/contactus">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="card__bx card__2">
      <div class="card__data">
        <div class="card__icon">
          <div class="card__icon-bx"><i class="fa-solid fa-code"></i></div>
        </div>
        <div class="card__content">
          <h3>Development</h3>
          <p>We will develop app and web application for you</p>
          <a href="/contactus">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="card__bx card__3">
      <div class="card__data">
        <div class="card__icon">
          <div class="card__icon-bx"><i class="fa-solid fa-rocket"></i></div>
        </div>
        <div class="card__content">
          <h3>Lauch</h3>
          <p>We will manage and deploy your website and app</p>
          <a href="/contactus">Contact Us</a>
        </div>
      </div>
    </div>

  </section>

</section>

{{>footer}}