<link rel="stylesheet" href="/style/tools.css">


  <div class="page-container">
    <h1 class="page-title">PDF Converter</h1>
    <p class="page-title">Convert your documents to high-quality PDF files.</p>
    <div class="card-container">
      <div class="card card-design">
        <div class="card-image">
          <img src="https://play-lh.googleusercontent.com/96QUejbE50FZ2uf0FOwdODvTsHa2NnN9zq4Gdq1QG8V-OM3mlC9xLiM8U22QcIgWAA" alt="Image to PDF">
        </div>
        <div class="card-content">
          <h3 class="card-title">Image to PDF</h3>
          <p class="card-description">Convert your images to high-quality PDF files.</p>
          <a href="/tools/imagetoPdf" class="card-btn">Convert</a>
        </div>
      </div>

      <div class="card card-design">
        <div class="card-image">
          <img src="https://www.locklizard.com/wp-content/uploads/2023/07/convert-pdf-word.png" alt="Word to PDF">
        </div>
        <div class="card-content">
          <h3 class="card-title">Word to PDF</h3>
          <p class="card-description">Convert your Word documents to secure PDF files.</p>
          <a href="/tools/imagetoPdf" class="card-btn">Convert</a>
        </div>
      </div>

      <div class="card card-design">
        <div class="card-image">
          <img src="https://play-lh.googleusercontent.com/Cj9V8JveQEgT-jlyMPNTK1GPeeyHSEHpbWq5Y_1Hgdi0BsRbbpx3QzfrFv85eHy7JrI" alt="PNG to PDF">
        </div>
        <div class="card-content">
          <h3 class="card-title">PNG to PDF</h3>
          <p class="card-description">Convert your PNG images to high-quality PDF files.</p>
          <a href="/tools/imagetoPdf" class="card-btn">Convert</a>
        </div>
      </div>
    </div>
  </div>
